<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Chela+One|Libre+Barcode+128+Text" rel="stylesheet">
  </head>
  <body>
    <h1 class="titles">show page</h1>

    <h3>Date of payment: <%= balance.date %> </h3>
    <h3>Amount of Payment: $<%= balance.amount %> </h3>

    <form action="/balances/<%= balance.id %>?_method=DELETE" method="POST">
      <input type="submit" value="DELETE" class="deleteButton">
    </form>

      <a href="/balances/<%=balance.id%>/edit">Edit</a>
      <a href="/balances">Go back</a>

  </body>
</html>
